.App {
  text-align: center;
}


/* required */

/* App.css */
.navbar {
  justify-content: center; /* Center align Nav items */
}

.chart-container {
  width: 1200%; /* Full width */
  height: calc(100vh - 56px); /* Full height minus navbar height */
  overflow: hidden; /* Hide scrollbars */
}
